body {
  margin: 0;
  background-image: url(../assets/cork-board.jpg);
  --sticky-color: #ffffc9;
  --opinion-section: #E4FFC9;
  --upvote-hover: #ffd27f;
  --upvoted: #ffa500;
  overflow: hidden;
  font-family: 'Exo 2', sans-serif;
}

#body-container {
  height:100vh;
  width: 100vw;
  max-width:100%;
}

#page-title {
  text-align: left;
}

#discussion-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin-top: 63px;
  width: 100%;
  overflow: auto;
}

.discussion-topic {
  width: 200px;
  height: 240px;
  margin: 20px;
  margin-bottom: 0;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 2px black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--sticky-color);
  text-align: left;
  font-size: 14px;
  position: relative;
}

.discussion-topic:hover {
  opacity: 0.9;
}

.discussion-topic-metadata {
  color: white;
  font-size: 12px;
  background-color: black;
  border: 2px solid white;
  border-top: none;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 2px black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

.discussion-topic-metadata-info {
  margin-left: 20px;
}

.discussion-topic-metadata-item {
  margin-left: 10px;
}

.discussion-topic-metadata-item:first-child {
  margin-left: 0;
}

.voter {
  font-size: 14px;
  color: white;
  position: absolute;
  left: 10px;
  bottom: 10px;
  cursor: pointer;
}

.voter:hover {
  color: var(--upvote-hover);
}

.voter.upvoted {
  color: var(--upvoted);
}

.topic-title {
  background-color: rgba(0,0,0,0.5);
  color: white;
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 180px;
}

.topic-category {
  display: flex;
  justify-content: center;
}

.topic-category-icon {
  margin-top: 60px;
}

.thumbtack {
  position: absolute;
  top: 10px;
  left: 90px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  z-index: 2;
  background-image: linear-gradient(
    to right bottom,
    red,
    rgba(0,0,0,0.5)
  );
  box-shadow: 0 0 4px black;
}

.unselectable {
  -webkit-user-drag: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;
}

#overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
}

#overlay.topic-expanded {
  z-index: 3;
  display: block;
}

#topic-viewer {
  background-color: var(--sticky-color);
  /*border-radius: 10px;*/
  text-align: center;
  position: absolute;
  /*font-family: 'Exo 2', sans-serif;*/
  min-width: 300px;
}

.exit-topic-viewer {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 10;
}

.exit-topic-viewer:hover {
  opacity: 0.4;
}

.topic-viewer-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.topic-viewer-category {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 120px;
  align-items: center;
  justify-content: center;
}

.topic-viewer-description {
  height: 100px;
  width: 360px;
  overflow: auto;
  text-align: left;
  border-radius: 10px;
  background-color: white;
  border: 1px solid lightgray;
  padding: 10px;
  margin-left: 20px;
}

.topic-viewer-category-name {
  margin-top: 10px;
  font-size: 18px;
}

.topic-viewer-category-icon-container{
  padding: 10px;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  box-shadow: 0 0 5px black;
  margin-top: 10px;
}

.topic-viewer-category-icon {
  width: 40px;
  height: 40px;
}

.topic-viewer-title {
  margin-top: 20px;
  font-size: 42px;
  padding: 5px;
  font-family: 'Amatica SC', cursive;
}

.topic-viewer-opinions-section {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  background-color: var(--opinion-section);
  border: 1px solid lightgray;
  border-left: 0;
  border-right: 0;
  padding: 10px;
}

.topic-opinion {
  height: 250px;
  width: 300px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 2px black;
  margin: 10px;
  position: relative;
  cursor: pointer;
}

.topic-opinion:hover {
  box-shadow: 0 0 6px black;
}

.topic-opinion-info {
  height: 80px;
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.topic-opinion-author-icon {
  border-radius: 30px;
  border: 1px solid lightgray;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
}

.topic-opinion-metadata {
  margin-left: 10px;
}

.topic-opinion-author-name {
  color: black;
  font-size: 18px;
  line-height: 20px;
}

.topic-opinion-vote-overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  color: white;
  border-radius: 10px;
  cursor: default;
  display: none;
}

.show-overlay .topic-opinion-vote-overlay {
  display: block;
}

.opinion-vote-option-label {
  text-align: center;
  width: 100%;
  position: absolute;
  top: -20px;
  font-weight: bold;
  display: none;
}

.opinion-vote-count-icon,
.opinion-vote-count-icon img {
  width: 20px;
  height: 20px;
}

.opinion-vote-count-icon {
  margin-left: 2px;
}

.opinion-vote-count-icon:first-child {
  margin-left: 0;
}

.opinion-vote-count {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.opinion-vote-count:hover {
  font-weight: bold;
  color: #007AFF;
}

.opinion-vote-count-container {
  margin-top: 5px;
}

.reaction-count {
  margin-left: 8px;
}

.opinion-vote-count {
  color: gray;
  font-size: 14px;
}

.reaction-breakdown {
  background-color: rgba(0,0,0,0.8);
  height: 20px;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  margin-left: -30px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: none;
}

.shown.reaction-breakdown {
  display: flex;
}

.reaction-breakdown-item {
  color: white;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.reaction-breakdown-item:first-child {
  margin-left: 0;
}

.reaction-breakdown-item div {
  margin-left: 4px;
  font-size: 10px;
}

.reaction-breakdown-item img {
  width: 20px;
  height: 20px;
}

.hovered .opinion-vote-option-label {
  display: block;
}

.opinion-vote-option-icon {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.opinion-vote-option {
  cursor: pointer;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  padding: 5px;
  position: relative;
}

.opinion-vote-option:hover {
  width: 60px;
  height: 60px;
}

.opinion-vote-option:first-child {
  margin-left: 0;
}

.opinion-vote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.user-vote {
  position: absolute;
  top: 10px;
  right: 10px;
}

.user-vote,
.user-vote img {
  width: 30px;
  height: 30px;
}

.topic-opinion-preview-container {
  width: 260px;
  height: 120px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 1px black;
  position: relative;
}

.topic-opinion-preview {
  font-size: 14px;
  line-height: 20px;
  width: 260px;
  max-height: 120px;
  padding: 10px;
  overflow: hidden;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
}

.preview-fade {
  background-image: linear-gradient(white, rgba(0,0,0,0.3));
  height: 10px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: 130px;
  left: 0;
}

.comment-section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.comment-section-opinion-info {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.comment-section-opinion-author
.topic-opinion-author-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  font-size: 12px;
}

.comment-section-opinion-author
.topic-opinion-info {
  height: 24px;
  margin-left: 0;
}

.comment-section-opinion-author
.topic-opinion-author-name {
  font-size: 14px;
  color: gray;
}

.comment-section-opinion-author {
  display: flex;
  justify-content: flex-start;
  width: 500px;
  color: gray;
}

.comment-section-opinion-body {
  text-align: left;
  width: 500px;
  max-height: 200px;
  overflow: auto;
  font-size: 18px;
}

.comment-section-opinion-body span {
  font-size: 24px;
  color: gray;
}

.comments {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.comment {
  width: 500px;
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0 0 2px gray;
  border-radius: 10px;
  text-align: left;
}

.comment:first-child {
  margin-top: 20px;
}

.comment:last-child {
  margin-bottom: 20px;
}

.comment-body {
  font-size: 16px;
}

.comment-metadata {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.comment-author {
  color: gray;
  font-size: 12px;
  margin-left: 10px;
}

.comment-author-icon {
  width: 20px;
  height: 20px;
  font-size: 12px;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px lightgray;
}

.comment-author-icon div {
  text-align: center;
  margin-left: 1px;
}

.comment-composer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comment-composer {
  resize: none;
  width: 500px;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 14px;
  /*font-family: 'Exo 2', sans-serif;*/
  box-shadow: 0 0 2px gray;
  background-color: #fafafa;
}

.comment-composer-buttons {
  display: flex;
  justify-content: flex-end;
  width: 520px;
  margin-top: 10px;
}

.comment-composer-post-button,
.comment-composer-cancel-button {
  border-radius: 5px;
  padding: 5px;
  width: 70px;
  height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid white;
}

.comment-composer-post-button:hover,
.comment-composer-cancel-button:hover {
  box-shadow: 0 0 2px black;
}

.comment-composer-post-button {
  background-color: rgb(0,122,255);
  color: white;
}

.comment-composer-post-button img {
  width: 20px;
  height: 20px;
}

.comment-composer-cancel-button {
  margin-left: 10px;
  background-color: lightgray;
}

.opinion-composer-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  align-items: center;
  justify-content: center;
  display: none;
}

.opinion-composer-container.shown {
  display: flex;
}

.opinion-composer {
  width: 400px;
  height: 270px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.opinion-composer-label {
  text-align: left;
}

.opinion-composer-text {
  width: 300px;
  margin-top: 20px;
}

.opinion-composer-text-area.opinion-composer-text-area {
  width: 278px;
  height: 120px;
  resize: none;
}

.opinion-composer-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
}

.opinion-composer-cancel-button {
  margin-left: 10px;
}

.add-opinion {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 10px;
  justify-content: flex-end;
  align-items: center;
}

.add-opinion-label {

}

.add-opinion-button,
.add-topic-button,
.user-profile-button {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border-radius: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  padding: 10px;
  background-color: #e50000;
  cursor: pointer;
  border: 1px solid white;
}

.add-opinion-button:hover {
  box-shadow: 0 0 2px black;
}

.add-topic-button:hover,
.user-profile-button:hover {
  box-shadow: 0 0 8px white;
}

.add-topic-label {
  color: white;
  font-size: 18px;
  font-weight: 800;
  text-shadow: 0 0 5px black;
  display: none;
}

.add-topic-label.shown {
  display: block;
}

.add-topic-button {
  background-color: green;
}

.header-bar {
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 60px;
  width: 100%;
  background-color: #8b5a2b;
  border-bottom: 1px solid white;
  box-shadow: 0 2px 4px black;
}

.board-buttons {
  position: absolute;
  height: 60px;
  top: 0;
  right: 0;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.page-title {
  color: white;
  font-size: 24px;
  text-align: center;
}

.user-profile-button {
  line-height: 20px;
  margin-right: 20px;
}

.user-profile {
  width: 320px;
  height: 250px;
  background-color: white;
  position: absolute;
  top: 70px;
  right: 10px;
  z-index: 100;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-profile.shown {
  display: flex;
}

.user-profile-name {
  font-size: 32px;
}

.user-profile-creation {
  font-size: 14px;
  color: gray;
}

.logout {
  border-radius: 5px;
  color: gray;
  background-color: #ededed;
  padding: 10px 20px;
  border: 1px solid gray;
  margin-top: 30px;
  line-height: 14px;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.logout:hover {
  box-shadow: 0 0 1px black;
}

.topic-composer-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  display: none;
}

.topic-composer-container.shown {
  display: block;
}

.topic-composer {
  width: 400px;
  height: 540px;
  background-color: white;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 0 2px lightgray;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.topic-composer-header {
  margin-top: 20px;
  font-size: 28px;
}

.topic-composer-title {
  margin-top: 20px;
}

.topic-composer-description,
.topic-composer-category {
  margin-top: 10px;
}

.topic-composer-label,
.opinion-composer-label {
  color: gray;
  font-size: 14px;
}

.topic-composer-title-field,
.topic-composer-description-field,
.opinion-composer-text-area {
  margin-top: 2px;
  width: 300px;
  height: 30px;
  font-size: 16px;
  padding: 10px;
  font-family: 'Exo 2', sans-serif;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
}

.topic-composer-char-limit,
.opinion-composer-char-limit {
  text-align: right;
  font-size: 12px;
  color: gray;
}

.topic-composer-title-field {
  padding-top: 1px;
  padding-bottom: 1px;
}

.topic-composer-description-field {
  height: 120px;
  resize: none;
  font-size: 12px;
}

.topic-composer-selected-category.topic-composer-selected-category {
  font-size: 14px;
  color: black;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 2px;
  position: relative;
  width: 200px;
}

.expanded .topic-composer-selected-category {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.expanded .topic-composer-category-field {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.expanded .dropdown-arrow {
  top: 14px;
}

.dropdown-arrow {
  position: absolute;
  right: 10px;
  color: black;
  font-size: 18px;
  top: 5px;
  line-height: 18px;
}

.topic-composer-category {
  width: 320px;
  position: relative;
}

.expanded .topic-composer-category-field {
  display: block;
}

.topic-composer-category-field {
  background-color: white;
  width: 210px;
  height: 120px;
  border: 1px solid lightgray;
  border-top: none;
  border-radius: 5px;
  overflow: auto;
  overflow-x: hidden;
  display: none;
  position: relative;
  z-index: 100;
}

.topic-composer-selected-category-option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.topic-composer-category-option {
  width: 200px;
  height: 40px;
  padding-left: 10px;
  color: gray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.topic-composer-category-option:hover {
  color: white;
  background-color: rgba(0,122,255,0.8);
}

.topic-composer-category-option-icon {
  width: 20px;
  height: 20px;
}

.topic-composer-category-option-label {
  font-size: 14px;
  margin-left: 10px;
  text-align: left;
  width: 150px;
  height: 20px;
  line-height: 20px;
}

.topic-composer-buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 20px;
}

.opinion-composer-create-button.disabled,
.comment-composer-post-button.disabled {
  background-color: lightgray;
  color: gray;
  cursor: default;
}

.opinion-composer-create-button.disabled:hover,
.comment-composer-post-button.disabled:hover {
  box-shadow: none;
}

.topic-composer-create-button img,
.opinion-composer-create-button img {
  width: 20px;
  height: 20px;
}

.topic-composer-cancel-button,
.opinion-composer-cancel-button {
  margin-left: 20px;
  background-color: lightgray;
}

.topic-composer-create-button,
.opinion-composer-create-button {
  background-color: green;
  color: white;
}

.topic-composer-create-button,
.topic-composer-cancel-button,
.opinion-composer-create-button,
.opinion-composer-cancel-button {
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid white;
  cursor: pointer;
  width: 60px;
  text-align: center;
  height: 20px;
}

.topic-composer-create-button:hover,
.topic-composer-cancel-button:hover,
.opinion-composer-create-button:hover,
.opinion-composer-cancel-button:hover  {
  box-shadow: 0 0 2px black;
}

.back-to-opinions {
  font-size: 32px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 10;
}

.back-to-opinions:hover {
  opacity: 0.4;
}

.loading-opinions-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-opinions,
.loading-comments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0,0,0,0.7);
  width: 175px;
  height: 150px;
  color: white;
  border-radius: 10px;
}

.loading-opinions img,
.loading-comments img {
  width: 50px;
  height: 50px;
}

.loading-comments div {
  margin-top: 10px;
}

.comments-placeholder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.no-opinions,
.no-comments {
  font-size: 32px;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-topics {
  font-size: 48px;
  color: white;
  text-shadow: 0 0 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-topics-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.topics-loading-container {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.topics-loading-container.shown {
  display: flex;
}

.topics-loading {
  width: 175px;
  height: 150px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 10px;
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topics-loading img {
  width: 50px;
  height: 50px;
}

.topics-loading-label {
  margin-top: 20px;
  color: white;
}

.topic-composer-title-error {
  margin-top: -13px;
}

.topic-composer-category-error {
  position: absolute;
  bottom: -13px;
}

.error {
  font-size: 10px;
  color: red;
  margin-left: 5px;
  visibility: hidden;
}

.error.shown {
  visibility: visible;
}

.divider {
  border: 0;
  margin-top: 20px;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
}
